<mat-toolbar color="primary">
    <span class="brand" routerLink="/">fitness friend</span>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-menu-item routerLink="/coming-soon">
            <mat-icon>fitness_center</mat-icon>
            <span>Workouts</span>
        </button>
        <button mat-menu-item routerLink="/coming-soon">
            <mat-icon>trending_up</mat-icon>
            <span>Progress</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
    </mat-menu>
</mat-toolbar>